.pytest/
venv/
.idea/
.pytest_cache/
__pycache__/


../../../../.CFUserTextEncoding
../../../../.DS_Store
../../../../.Trash/
../../../../.android/
../../../../.bash_history
../../../../.bash_profile
../../../../.bash_sessions/
../../../../.cache/
../../../../.codeium/
../../../../.dropbox/
../../../../.emulator_console_auth_token
../../../../.gitconfig
../../../../.gradle/
../../../../.idlerc/
../../../../.npm/
../../../../.oracle_jre_usage/
../../../../.python_history
../../../../.ssh/
../../../../.vscode/
../../../../.zshrc
../../../../AndroidStudioProjects/
../../../../Applications/
../../../../Desktop/
../../../
../../../../Downloads/
../../../../Dropbox/
../../../../Google Drive/
../../../../Library/
../../../../Movies/
../../../../Music/
../../../../Pictures/
../../../../Public/
../../../../package-lock.json